*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a:link 
  { 
  text-decoration:none; 
  } 

  body {
    background: url("images/bgimage2.jpg") 50% 50%;
  }


#TituloPage{
  clear: both;
  text-align: center;
  text-shadow: 2px 2px #020202d2;
  color: rgba(219, 11, 11, 0.884);
  padding: 10px 0px 30px 0px;
  margin: 10px 0px 0px 0px;
  
}

#Menu{
  width: 100px;
  position: absolute;    
  top: 10px;
  right:10px; 
}

#Sair{
  text-align: center;
  text-shadow: 1px 1px #020202d2;
  color: rgba(219, 11, 11, 0.884);
  margin-bottom: 20px
}

#Menu a{
  color:  rgb(0, 26, 255);
}

.container1{
    width: auto;
    padding: 0px 20px 20px 40px;
    height: 50px;
}


#text-field{
  height: 200px;
  /* background-color: rgba(0, 0, 0, 0.664); */
  padding: 50px 0px 80px 0px;
  /* //margin: 0px 580px 0px 580px; */
  margin: auto;
  /* //width: 40%;
  //border: 20px,20px,20px,20px */
}

.form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }

.form-wrapper textarea {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }

#nome{
  margin-top: 10px;
  margin-bottom: 5px;
}

#genero{
  margin-top: 5px
}

#duracao{
  margin-top: 5px;  
}

#classeind{
  margin-top: 5px; 
}

#sinopse{
  margin-top: 5px;
  
}

.form-wrapper button{
  display: block;
  color: white;
  background-color: #f70303;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 30px;
  margin-top: 10px;
}

.form-wrapper > button:hover {
  background-color: rgba(207, 12, 12, 0.911);
}

a{
  color: white
}