<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'adfilme.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="TituloPage"> PrimeFlix Plus 
      </h1>
      <div id="Menu">
        <h4 id = "Sair"> Usuário 
          <a href="index.html">Sair</a></h4>
        </div>
    </div> 
    <script src="script.js"></script>
    <main>
      <!-- <form method="POST" enctype="multipart/form-data"  > 
        {% csrf_token %} -->
  
      
      <div class="form-wrapper" id="text-field">
      
      <input type="text" id="titulo_ep" name="ano" placeholder="Titulo do Episódio">
      <textarea class="msg" cols="20" rows="8" id="sinopse_ep" name="sinopse_ep" placeholder="Sinopse" width:500px></textarea>
      <input type="number" id="temporada" name="temporada" placeholder="Temporada">
      
      <!-- <input type="submit"  style="display: block;
      color: white;
      background-color: #f70303;
      margin: 0 auto;
      padding: 10px 15px;
      border-radius: 30px;
      margin-top: 10px; " value="Adicionar">
      </div>   -->
    
      <!-- </form> -->
    </main>
<form method="POST" enctype="multipart/form-data"> 
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" placeholder="Adicionar">
    </form>
  </body>
  <a href="/series"><button id="B1"  style="width:80;"> Voltar </button></a>
  <footer>
    <h3>&copy; JoseAlves - MatheusSouza - MisaelLima</h3> 
  </footer>
</html>

