<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="#" />
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'adfilme.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="TituloPage"> PrimeFlix Plus 
      </h1>
      <div id="Menu">
        <h4 id = "Sair"> Usuário 
          <a href="index.html">Sair</a></h4>
        </div>
    </div> 
    
    <main>
      <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
  
      <div class="form-wrapper" id="text-field">
      <input type="text" id="titulo" name="titulo" placeholder="Nome do Filme" value="{{db.titulo}}">
      <input type="number" id="ano" name="ano" placeholder="Ano" value="{{db.ano}}">
      <input type="date" id="datalancamento" name="datalancamento" placeholder="Data de Lançamento" value="{{db2.datalancamento}}">
      <textarea class="msg" cols="20" rows="8"  id="sinopse" name="sinopse" placeholder="Sinopse" >{{db.sinopse}}</textarea>
      <input type="submit"  id="add"  value="Adicionar">
      </div>  
    
      </form>
    </main>
    <a href="/main"><button id="B1"  style="width:80;"> Voltar </button></a>
    <footer>
      <h3>&copy; JoseAlves - MatheusSouza - MisaelLima</h3> 
    </footer>
  </body>
</html>

