<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="#" />
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'adfilme.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="TituloPage"> PrimeFlix Plus 
      </h1>
      <div id="Menu">
        <button id = "Sair">
          <a href="/">Sair</a></button>
        </div>
    </div> 
    
    <main>
      <form method="POST" enctype="multipart/form-data"  > 
        {% csrf_token %}
      <div class="form-wrapper" id="text-field">
      <input type="text" id="titulo" name="titulo" placeholder="Nome da Série" value="{{db.titulo}}">
      <input type="number" id="ano" name="ano" placeholder="Ano de Lançamento" value="{{db.ano}}">
      <input type="number" id="anofim" name="anofim" placeholder="Ano de Finalização" value="{{db2.anofim}}">
      <input type="number" id="temporada" name="num_temporada" placeholder="Temporadas" value="{{db2.num_temporada}}">
      <textarea class="msg" cols="20" rows="8" id="sinopse" name="sinopse" placeholder="Sinopse" width:500px>{{db.sinopse}}</textarea>
      
      <input type="hidden" id="titulo" name="fk_titulo" value="1">

      <select id="genero" name="fk_genero">
        {% for dbs in genero %}
        {% if dbs.genero == genero2.genero %}
        <option selected value="{{dbs.idgenero}}">{{dbs.genero}}</option>
        {% else %}
        <option value="{{dbs.idgenero}}">{{dbs.genero}}</option>
        {% endif %}
        {% endfor %}
      </select>
      
      <input type="submit"  id = "add" value="Adicionar">
      </div>
      </form>
    </main>
    <a href="/main"><button id="B1"  style="width:80; margin-top:20px;"> Voltar </button></a>
    <footer>
      <h3>&copy; JoseAlves - MatheusSouza</h3> 
    </footer>
  </body>
</html>

