<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'adfilme.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="TituloPage"> PrimeFlix Plus 
      </h1>
      <div id="Menu">
        <h4 id = "Sair"> Usuário 
          <a href="index.html">Sair</a></h4>
        </div>
    </div> 
    <script src="script.js"></script>
    <main>
      <form method="POST" enctype="multipart/form-data"  > 
        {% csrf_token %}
  
      
      <div class="form-wrapper" id="text-field">
      <input type="text" id="titulo" name="titulo" placeholder="Nome da Série" value="{{db.titulo}}">
      <input type="number" id="ano" name="ano" placeholder="Ano de Lançamento" value="{{db.ano}}">
      <input type="number" id="anofim" name="anofim" placeholder="Ano de Finalização" value="{{db2.anofim}}">
      <textarea class="msg" cols="20" rows="8" id="sinopse" name="sinopse" placeholder="Sinopse" width:500px>{{db.sinopse}}</textarea>
      <input type="submit"  style="display: block;
      color: white;
      background-color: #f70303;
      margin: 0 auto;
      padding: 10px 15px;
      border-radius: 30px;
      margin-top: 10px; " value="Adicionar">
      </div>  
    
      </form>
    </main>

    <footer>
      
    </footer>
  </body>
</html>

