<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PrimeFlix Plus</title>
    <link href="attfilme.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="Titulo"> PrimeFlix Plus 
      </h1>
      <div id="Menu">
        <h4 id = "Sair"> Usuário 
          <a href="index.html">Sair</a></h4>
        </div>
    </div>  
    <script src="script.js"></script>
   <main>
     
   </main>
    <footer>

      
    </footer>
  </body>
</html>