<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="#" />
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="Titulo"> PrimeFlix Plus </h1>
     </div>
    <main>
       <div class="form-wrapper" >
            <form method="POST" class="form-wrapper" id="text-field" action="">
              {% csrf_token %}
              <h2>Entrar</h2>
              <input type="text" id="usuario" name="usuario" placeholder="email">
              <input type="password" id="senha" name="senha" placeholder="senha">
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            {% if messages %}
              {% for message in messages %}
                <div class="mensagem" id = "mensagem">
                  <strong><font color="red">{{message}}</font></strong>
              {% endfor%}
            {% endif %}
        </div>
    </main>
    <footer>
        <h3>&copy; JoseAlves - MatheusSouza</h3>
    </footer>
  </body>
</html>