<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="Titulo"> PrimeFlix Plus 
      </h1>
      <div id="Menu">
        <h4 id = "Sair"> Usuário 
          <a href="index.html">Sair</a></h4>
        </div>
    </div>  
    <script src="script.js"></script>
    <main>
      <div class="buttons" id="text-field">
      <a href="vcatalogo.html"> <button id="B1" onclick="" style="width:200"> Visualizar Catalogo</button>
      <a href="adfilme.html"><button id = "B2" onclick="" style="width:200">  Adicionar Filme </button></a>
      <a href="attfilme.html"><button id = "B3" onclick="" style="width:200"> Atualizar Filme </button>
      <a href="exfilme.html"><button id = "B4" onclick="" style="width:200"> Excluir Filme </button></a>
      </div> 
    </main>
    <footer>

      
    </footer>
  </body>
</html>