<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width">
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'telaCadastro.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
   <div class = "container1" id = "Topo">
     <h1 id="Titulo"> PrimeFlix Plus </h1>
   </div>
    <main>
      <div class="form-wrapper" id="text-field">
      <input type="text" id="nome" name="nome" placeholder="Nome">
      <input type="text" id="Sobrenome" name="Sobrenome" placeholder="Sobrenome">
      <input type="text" id="email" name="email" placeholder="E-mail">
      <input type="text" id="Login" name="Login" placeholder="Login">
      <input type="password" id="password" name="password" placeholder="Senha">
      <button onclick="cadastrar()"> <a href="/">Adicionar</a></button>
      </div>  
    </main>
    <footer>
        <h3>&copy; JoseAlves - MatheusSouza - MisaelLima</h3>
    </footer>
  </body>
</html>