<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="#" />
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'telaCadastro.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
   <div class = "container1" id = "Topo">
     <h1 id="Titulo"> PrimeFlix Plus </h1>
   </div>
    <main>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-wrapper" id="text-field">
          {% comment %} <input type="text" id="nome" name="nome" placeholder="Nome">
          {% comment %} <input type="text" id="Sobrenome" name="Sobrenome" placeholder="Sobrenome"> {% endcomment %}
          <input type="text" id="email" name="email" placeholder="E-mail" value = "{{db.email}}">
          {% comment %} <input type="text" id="Login" name="Login" placeholder="Login"> {% endcomment %}
          <input type="password" id="senha" name="senha" placeholder="Senha" value = "{{db.senha}}">
          {% comment %} <button <a href="/">voltar</a></button> {% endcomment %}
          <input type="submit" id ="cad"  value="Cadastrar">
        </div>
      </form>  
    </main>
    <footer>
        <h3>&copy; JoseAlves - MatheusSouza</h3>
    </footer>
  </body>
</html>