<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'vcatalogo.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="Titulo"> PrimeFlix Plus </h1>
      <div id="Menu">
        <h4 id = "Sair"> Usuário 
          <a href="index.html">Sair</a></h4>
        </div>
    </div>   
    {% comment %} <script src="script.js"></script> {% endcomment %}
   <main>
     <table class="table">
       <thead>
         <tr>
            <th>Nome</th>
            <th>Ano de Lançamento</th>
            <th>Ano do Fim</th>
            <th>Sinopse</th>
        </tr>
       </thead>
       <body>
          
          <tr>
            <th>{{dbtitulo.titulo}}</th>
            <th>{{dbtitulo.ano}}</th>
            {% if dbserie.anofim %}
            <th>{{dbserie.anofim}}</th>
            {% else %}
            <th> - </th>
            {% endif %}
            <th>{{dbtitulo.sinopse}}</th>
            
          </tr>
          
       </body>
     </table>
   
     <h2>Episódios</h2>
     
     <table class="table">
      <thead>
        <tr>
           <th>Nº</th>
           <th>Temporada</th>
           <th>Nome</th>
           <th>Sinopse</th>
       </tr>
      </thead>
      <body>
         {% for dbs in dbepisode %}
         <tr>
           <th>{{dbs.numero}}</th>
           <th>{{dbs.temporada}}</th>
           <th>{{dbs.titulo_ep}}</th>
           <th>{{dbs.sinopse_ep}}</th>
         </tr>
         {% endfor %}
      </body>
    </table>
   </main>
    <footer>

    </footer>
  </body>
</html>