<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'vcatalogo.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="Titulo"> PrimeFlix Plus </h1>
      <div id="Menu">
        <h4 id = "Sair"> Usuário 
          <a href="index.html">Sair</a></h4>
        </div>
    </div>   
    {% comment %} <script src="script.js"></script> {% endcomment %}
   <main>
     <table class="table">
       <thead>
         <tr>
            <th>Nome</th>
            <th>Ano de Lançamento</th>
            <th>Ano do Fim</th>
            <th>Sinopse</th>
        </tr>
       </thead>
       <body>
          
          <tr>
            <th>{{dbtitulo.titulo}}</th>
            <th>{{dbtitulo.ano}}</th>
            {% if dbserie.anofim %}
            <th>{{dbserie.anofim}}</th>
            {% else %}
            <th> - </th>
            {% endif %}
            <th>{{dbtitulo.sinopse}}</th>    
          </tr>
       </body>
     </table>
     <h2 style ="margin-top: 20px;">Episódios</h2>
     <table class="table">
      <thead>
        <tr>
           <th>Temporada</th>
           <th>Nº</th>
           <th>Nome</th>
           <th>Sinopse</th>
       </tr>
      </thead>
      <body>
         {% for dbs in dbepisode %}
         <tr>
           <th>{{dbs.temporada}}</th>
           <th>{{dbs.numero}}</th>
           <th>{{dbs.titulo_ep}}</th>
           <th>{{dbs.sinopse_ep}}</th>
         </tr>
         {% endfor %}
      </body>
    </table>
    <div class="pagination col-8 m-auto pt-5 pb-2 text-center">
      {% if dbepisode.has_previous %}
          <a href="?page={{dbepisode.previous_page_number}}"> < </a>
      {% endif %}
  
      <b>{{dbepisode.number}}</b>
  
      {% if dbepisode.has_next %}
          <a href="?page={{dbepisode.next_page_number}}"> > </a>
      {% endif %}
  </div>
   </main>
    <a href="/verTitulos"><button id="B1"  style="width:80; margin-top:20px;"> Voltar </button></a>
    <footer>
      <h3>&copy; JoseAlves - MatheusSouza - MisaelLima</h3> 
    </footer>
  </body>
</html>