<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="#" />
    <title>PrimeFlix Plus</title>
    {% load static %}
    <link href="{% static 'vcatalogo.css' %}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "container1" id = "Topo">
      <h1 id="Titulo"> PrimeFlix Plus 
      </h1>
      <div id="Menu">
        <h4 id = "Sair"> Usuário 
          <a href="/">Sair</a></h4>
        </div>
    </div>   
    
   <main>
     <table class="table">
       <thead>
         <tr>
            <th>Nome</th>
            <th>Ano de Lançamento</th>
            <th>Ações</th>
        </tr>
       </thead>
       <body>
          {% for dbs in titulo %}
          <tr>
            <th>{{dbs.titulo}}</th>
            <th>{{dbs.ano}}</th>
            <th><a href="/addEp/{{dbs.idtitulo}}"><button id="B1"  style="width:160;">Adicionar Espisodios</button> </a></th>
          </tr>
          {% endfor %}
       </body>
     </table>
   </main>
    <a href="/main"><button id="B1" style="width:80; margin-top:20px;"> Voltar </button></a>
    <footer>
      <h3>&copy; JoseAlves - MatheusSouza - MisaelLima</h3> 
    </footer>
  </body>
</html>